<nav>
    <ul>
        <li><a href="/libros/">Libros Disponibles</a></li>
        <li><a href="/libros/prestados">Libros Prestados</a></li>
        <li><a href="/user/login">Iniciar Sesion</a></li>
    </ul>
</nav>